body {
  font-family: Arial, sans-serif;
}
.Weather {
  border: 1px solid #dadde1;
  margin: 30px auto;
  padding: 16px;
  border-radius: 4px;
}
.Weather form {
  margin-bottom: 20px;
}
.Weather h1 {
  font-size: 34px;
  line-height: 34px;
  margin: 20px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  font-size: 16px;
  list-style: none;
  line-height: 23px;
}
.Weather canvas {
  margin-right: 10px;
  margin-top: 5px;
  display: inline-block;
}
.Weather .temperature {
  font-weight: bold;
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 64px;
  margin-left: 5px;
  font-weight: 400;
  margin-left: 10px;
}
.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}
